In [1]:
import sudoku

In [2]:
# NYT hard April 30, 2022
puzzle = '000003500070000081000108900400920300700004000100000690600409000000600003030000200'

In [3]:
(valid, node) = sudoku.main(puzzle)

   |  3|5
 7 |   | 81
   |1 8|9
---+---+---
4  |92 |3
7  |  4|
1  |   |69
---+---+---
6  |4 9|
   |6  |  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A BOX!
In box  8   2 can only be in row  8  column  6
   |  3|5
 7 |   | 81
   |1 8|9
---+---+---
4  |92 |3
7  |  4|
1  |   |69
---+---+---
6  |4 9|
   |6 2|  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A BOX!
In box  3   3 can only be in row  3  column  8
   |  3|5
 7 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |69
---+---+---
6  |4 9|
   |6 2|  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A BOX!
In box  8   3 can only be in row  7  column  5
   |  3|5
 7 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |69
---+---+---
6  |439|
   |6 2|  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A COLUMN!
In column  1   3  can only be in row  2
   |  3|5
37 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |69
---+---+---
6  |439|
   |6 2|  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A BOX!
In box  6   4 can only be in row  6  column  9
   |  3|5
37 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2|  3
 3 |   |2

Search for new?

HIDDEN SINGLE IN A BOX!
In box  9   9 can only be in row  9  column  9
   |  3|5
37 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2|  3
 3 |   |2 9

Search for new?

HIDDEN SINGLE IN A BOX!
In box  9   6 can only be in row  9  column  8
   |  3|5
37 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2|  3
 3 |   |269

Search for new?

HIDDEN SINGLE IN A ROW!
In row  9   4  can only be in column  3
   |  3|5
37 |   | 81
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2|  3
 34|   |269

Search for new?

NAKED SINGLE!
Row  2  column  7  is  4
   |  3|5
37 |   |481
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2|  3
 34|   |269

Search for new?

HIDDEN SINGLE IN A BOX!
In box  9   4 can only be in row  8  column  8
   |  3|5
37 |   |481
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2| 43
 34|   |269

Search for new?

POINTING TUPLE IN A ROW!
Box  6  can only have  2  in row  5
2  is removed as a possibility from:
Row  5 column  2
Row  5 column  3
Search for new?

POINTING TUPLE IN A ROW!
Box  9  can only have  5  in row  7
5  is removed as a possibility from:
Row  7 column  2
Row  7 column  3
Search for new?

POINTING TUPLE IN A ROW!
Box  6  can only have  7  in row  4
7  is removed as a possibility from:
Row  4 column  6
Search for new?

LOCKED CANDIDATE IN A ROW!
Row  9  can only have  1  in box  8
1  is removed as a possibility from:
Row  8 column  5
Search for new?

LOCKED CANDIDATE IN A COLUMN!
Column  1  can only have  2  in box  1
2  is removed as a possibility from:
Row  1 column  2
Row  3 column  2
Row  1 column  3
Row  2 column  3
Row  3 column  3
Search for new?

HIDDEN SINGLE IN A ROW!
In row  2   2  can only be in column  4
   |  3|5
37 |2  |481
   |1 8|93
---+---+---
4  |92 |3
7  |  4|
1  |   |694
---+---+---
6  |439|
   |6 2| 43
 34|   |269

Search for new?q
Not valid!
¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤
No solution found! :(
More advanced techniques needed.

In [11]:
a = []
for n in range(1, 10):
    a.append(set())
a[2].add((2, 3))
a[2].add((3, 3))
a

[set(), set(), {(2, 3), (3, 3)}, set(), set(), set(), set(), set(), set()]

In [4]:
import time
import copy

start = time.time()
for i in range(1000):
    duplicate = copy.deepcopy(node)
end =  time.time()
print('Time elapsed: ', end - start)

start = time.time()
for i in range(1000):
    duplicate = sudoku.deepcopy_node(node)
end =  time.time()
print('Time elapsed: ', end - start)

Time elapsed:  0.07681012153625488
Time elapsed:  0.019945859909057617

In [2]:
# Good Sudoku, Expert 167
puzzle = '800700010000010970000050020004000000060270080000000400010020000096040000045008009'

In [2]:
# Good Sudoku, Advanced 15
puzzle = '001080940320005000040010020070040806000702000403060750030058060000600098016000000'

In [2]:
# NYT hard 23.04.2022
puzzle = '400300570000006024900005000700840003000002090008600002167000000000000306200000000'

In [2]:
# NYT hard 21.04.2022
puzzle = '000008000004000000690500020800360004000001000203070900000000061008930040070004002'

In [4]:
# NYT medium 21.04.2022
puzzle = '053040000800000107900000000000467090609010003004002000000900206000000040070000005'

In [5]:
# NYT easy 21.04.2022
puzzle = '013096072500742010200001596000179260670800000194000050408000000001600309006430007'

In [6]:
# Good Sudoku, Beginner 10
puzzle = '042053009070060410590010800904070200000581903013000006200040097001009050400730000'

In [7]:
# Good Sudoku, Advanced 14
puzzle = '500000009348097010000020070006005004000030200410900830073052000050740023000000006'

In [2]:
puzzle = """070 000 043
            040 009 610
            800 634 900

            094 052 000
            358 460 020
            000 800 530

            080 070 091
            902 100 005
            007 040 802"""