In [1]:
import sudoku

In [2]:
puzzle = """070 000 043
            040 009 610
            800 634 900

            094 052 000
            358 460 020
            000 800 530

            080 070 091
            902 100 005
            007 040 802"""

In [3]:
# NYT hard 21.04.2022
puzzle = '000008000004000000690500020800360004000001000203070900000000061008930040070004002'

In [1]:
# NYT medium 21.04.2022
puzzle = '053040000800000107900000000000467090609010003004002000000900206000000040070000005'

In [5]:
# NYT easy 21.04.2022
puzzle = '013096072500742010200001596000179260670800000194000050408000000001600309006430007'

In [6]:
# Good Sudoku, Beginner 10
puzzle = '042053009070060410590010800904070200000581903013000006200040097001009050400730000'

In [7]:
# Good Sudoku, Advanced 14
puzzle = '500000009348097010000020070006005004000030200410900830073052000050740023000000006'

In [2]:
# Good Sudoku, Advanced 15
puzzle = '001080940320005000040010020070040806000702000403060750030058060000600098016000000'

In [3]:
(valid, node) = sudoku.main(puzzle)

  1| 8 |94
32 |  5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |75
---+---+---
 3 | 58| 6
   |6  | 98
 16|   |


NAKED SINGLE!
Row  7  column  1  is  5
  1| 8 |94
32 |  5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |75
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  0  column  1  is  6
 61| 8 |94
32 |  5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |75
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  0  column  3  is  2
 61|28 |94
32 |  5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |75
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  5  column  8  is  2
 61|28 |94
32 |  5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  1  column  3  is  4
 61|28 |94
32 |4 5|
 4 | 1 | 2
---+---+---
 7 | 4 |8 6
   |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  3  column  3  is  5
 61|28 |94
32 |4 5|
 4 | 1 | 2
---+---+---
 7 |54 |8 6
   |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  2  column  5  is  6
 61|28 |94
32 |4 5|
 4 | 16| 2
---+---+---
 7 |54 |8 6
   |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  1  column  6  is  6
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
 7 |54 |8 6
   |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  4  column  0  is  6
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
 7 |54 |8 6
6  |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


HIDDEN SINGLE IN A BOX!
Row  3  column  0  is  1
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
17 |54 |8 6
6  |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  3  column  7  is  3
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
17 |54 |836
6  |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  3  column  5  is  9
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
17 |549|836
6  |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  3  column  2  is  2
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
6  |7 2|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  4  is  3
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
6  |732|
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  7  is  1
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
6  |732| 1
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  6  is  4
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
6  |732|41
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  8  is  9
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
6  |732|419
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  1  is  8
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
68 |732|419
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  4  column  2  is  5
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
685|732|419
4 3| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  5  column  1  is  9
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493| 6 |752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  5  column  5  is  1
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493| 61|752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  5  column  3  is  8
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   |


NAKED SINGLE!
Row  8  column  7  is  7
 61|28 |94
32 |4 5|6
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   | 7


NAKED SINGLE!
Row  1  column  7  is  8
 61|28 |94
32 |4 5|68
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   | 7


HIDDEN SINGLE IN A BOX!
Row  1  column  8  is  1
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 | 58| 6
 5 |6  | 98
 16|   | 7


NAKED SINGLE!
Row  6  column  8  is  4
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 | 58| 64
 5 |6  | 98
 16|   | 7


HIDDEN SINGLE IN A BOX!
Row  6  column  3  is  1
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158| 64
 5 |6  | 98
 16|   | 7


NAKED SINGLE!
Row  6  column  6  is  2
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6  | 98
 16|   | 7


HIDDEN SINGLE IN A BOX!
Row  7  column  6  is  1
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6  |198
 16|   | 7


HIDDEN SINGLE IN A ROW!
Row  7  column  5  is  3
 61|28 |94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  0  column  5  is  7
 61|287|94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  0  column  0  is  5
561|287|94
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  0  column  8  is  3
561|287|943
32 |4 5|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  1  column  4  is  9
561|287|943
32 |495|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  1  column  2  is  7
561|287|943
327|495|681
 4 | 16| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  2  column  3  is  3
561|287|943
327|495|681
 4 |316| 2
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  2  column  6  is  5
561|287|943
327|495|681
 4 |316|52
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  2  column  8  is  7
561|287|943
327|495|681
 4 |316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 3 |158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  6  column  2  is  9
561|287|943
327|495|681
 4 |316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 39|158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  2  column  2  is  8
561|287|943
327|495|681
 48|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 39|158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  2  column  0  is  9
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
 39|158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  6  column  0  is  7
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
 5 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  7  column  0  is  2
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
25 |6 3|198
 16|   | 7


NAKED SINGLE!
Row  7  column  2  is  4
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|6 3|198
 16|   | 7


NAKED SINGLE!
Row  7  column  4  is  7
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
 16|   | 7


NAKED SINGLE!
Row  8  column  0  is  8
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|   | 7

NAKED SINGLE!
Row  8  column  3  is  9
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|9  | 7


NAKED SINGLE!
Row  8  column  4  is  2
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|92 | 7


NAKED SINGLE!
Row  8  column  5  is  4
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|924| 7


NAKED SINGLE!
Row  8  column  6  is  3
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|924|37


NAKED SINGLE!
Row  8  column  8  is  5
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|924|375


THE SOLUTION!
561|287|943
327|495|681
948|316|527
---+---+---
172|549|836
685|732|419
493|861|752
---+---+---
739|158|264
254|673|198
816|924|375