In [1]:
import sudoku

In [2]:
# NYT hard 21.04.2022
puzzle = '000008000004000000690500020800360004000001000203070900000000061008930040070004002'

In [3]:
(valid, node) = sudoku.main(puzzle)

   |  8|
  4|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 7 |9
---+---+---
   |   | 61
  8|93 | 4
 7 |  4|  2


NAKED SINGLE!
Row  5  column  5  is  5
   |  8|
  4|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   | 61
  8|93 | 4
 7 |  4|  2


HIDDEN SINGLE IN A BOX!
Row  1  column  1  is  8
   |  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   | 61
  8|93 | 4
 7 |  4|  2


HIDDEN SINGLE IN A BOX!
Row  8  column  7  is  9
   |  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   | 61
  8|93 | 4
 7 |  4| 92


########################################
Guessing row  8  column  6  is  8
HIDDEN SINGLE IN A BOX!
Row  6  column  6  is  3
   |  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   |361
  8|93 | 4
 7 |  4|892


HIDDEN SINGLE IN A BOX!
Row  8  column  0  is  3
   |  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


HIDDEN SINGLE IN A BOX!
Row  0  column  1  is  3
 3 |  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


HIDDEN SINGLE IN A BOX!
Row  0  column  2  is  2
 32|  8|
 84|   |
69 |5  | 2
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


HIDDEN SINGLE IN A BOX!
Row  2  column  8  is  8
 32|  8|
 84|   |
69 |5  | 28
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


NAKED SINGLE!
Row  5  column  8  is  6
 32|  8|
 84|   |
69 |5  | 28
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


HIDDEN SINGLE IN A ROW!
Row  2  column  5  is  3
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|93 | 4
37 |  4|892


########################################
Guessing row  8  column  4  is  5
HIDDEN SINGLE IN A BOX!
Row  8  column  3  is  1
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|93 | 4
37 |154|892


NAKED SINGLE!
Row  8  column  2  is  6
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
   |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|93 | 4
376|154|892


HIDDEN SINGLE IN A BOX!
Row  4  column  1  is  6
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|93 | 4
376|154|892


HIDDEN SINGLE IN A BOX!
Row  7  column  5  is  6
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
  8|936| 4
376|154|892


HIDDEN SINGLE IN A ROW!
Row  7  column  1  is  2
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
 28|936| 4
376|154|892


HIDDEN SINGLE IN A BOX!
Row  7  column  0  is  1
 32|  8|
 84|   |
69 |5 3| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
128|936| 4
376|154|892


HIDDEN SINGLE IN A BOX!
Row  2  column  2  is  1
 32|  8|
 84|   |
691|5 3| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
128|936| 4
376|154|892


NAKED SINGLE!
Row  2  column  4  is  4
 32|  8|
 84|   |
691|543| 28
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
128|936| 4
376|154|892


NAKED SINGLE!
Row  2  column  6  is  7
 32|  8|
 84|   |
691|543|728
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
128|936| 4
376|154|892


NAKED SINGLE!
Row  7  column  6  is  5
 32|  8|
 84|   |
691|543|728
---+---+---
8  |36 |  4
 6 |  1|
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  6  is  2
 32|  8|
 84|   |
691|543|728
---+---+---
8  |36 |  4
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  3  column  6  is  1
 32|  8|
 84|   |
691|543|728
---+---+---
8  |36 |1 4
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  6  is  6
 32|  8|
 84|   |6
691|543|728
---+---+---
8  |36 |1 4
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  6  is  4
 32|  8|4
 84|   |6
691|543|728
---+---+---
8  |36 |1 4
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  3  column  1  is  5
 32|  8|4
 84|   |6
691|543|728
---+---+---
85 |36 |1 4
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  3  column  7  is  7
 32|  8|4
 84|   |6
691|543|728
---+---+---
85 |36 |174
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  3  column  2  is  9
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|36 |174
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  3  column  5  is  2
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|362|174
 6 |  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  2  is  7
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|362|174
 67|  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  0  is  4
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|362|174
467|  1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  3  is  8
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|362|174
467|8 1|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  4  is  9
 32|  8|4
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  4  is  1
 32| 18|4
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  7  is  5
 32| 18|45
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  0  is  7
732| 18|45
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  3  is  6
732|618|45
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  0  column  8  is  9
732|618|459
 84|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  0  is  5
732|618|459
584|   |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  4  is  2
732|618|459
584| 2 |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  3  is  7
732|618|459
584|72 |6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  5  is  9
732|618|459
584|729|6
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  8  is  3
732|618|459
584|729|6 3
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  1  column  7  is  1
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|2
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  7  is  3
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|23
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  4  column  8  is  5
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
2 3| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892

NAKED SINGLE!
Row  5  column  1  is  1
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213| 75|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  5  column  3  is  4
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|9 6
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  5  column  7  is  8
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
   |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  0  is  9
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
9  |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  1  is  4
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
94 |   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  2  is  5
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|   |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  3  is  2
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|2  |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  4  is  8
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|28 |361
128|936|54
376|154|892


NAKED SINGLE!
Row  6  column  5  is  7
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|287|361
128|936|54
376|154|892


NAKED SINGLE!
Row  7  column  8  is  7
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|287|361
128|936|547
376|154|892


THE SOLUTION!
Nodes visited:  3
732|618|459
584|729|613
691|543|728
---+---+---
859|362|174
467|891|235
213|475|986
---+---+---
945|287|361
128|936|547
376|154|892

In [2]:
puzzle = """070 000 043
            040 009 610
            800 634 900

            094 052 000
            358 460 020
            000 800 530

            080 070 091
            902 100 005
            007 040 802"""

In [4]:
# NYT medium 21.04.2022
puzzle = '053040000800000107900000000000467090609010003004002000000900206000000040070000005'

In [5]:
# NYT easy 21.04.2022
puzzle = '013096072500742010200001596000179260670800000194000050408000000001600309006430007'

In [6]:
# Good Sudoku, Beginner 10
puzzle = '042053009070060410590010800904070200000581903013000006200040097001009050400730000'

In [7]:
# Good Sudoku, Advanced 14
puzzle = '500000009348097010000020070006005004000030200410900830073052000050740023000000006'

In [2]:
# Good Sudoku, Advanced 15
puzzle = '001080940320005000040010020070040806000702000403060750030058060000600098016000000'

In [2]:
a = []
for b in a:
    print(b)